    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="logo-beta">Bêta</div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                  <li><img class="logo" src="https://apiparticulier.sgmap.fr/cb7bdeec0297d4d4d42677856c354a7d.png" alt="Accueil - api.gouv.fr"></li>
                  <li><a ui-sref="landingPage" class="navbar-brand title" title="Accueil - api.gouv.fr" href="/">API.GOUV.FR</a></li>
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>